@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  padding: 2rem 3rem;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
  position: fixed; /* This will fix the navbar */
  width: 95%; /* Ensure it spans the full width of the viewport */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo i {
  margin-right: 0.5rem;
}

.navbar-links a {
  color: #d8d8d8;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-left: 1.5rem;
  font-size: 1rem;
  transition: color 0.3s;
}

/* .navbar-links a:hover {
  color: rgb(10, 24, 59);
} */

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}
